/* GLOBAL LAYOUT */
.layout-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #0f0f0f;
  font-family: "Inter", sans-serif;
  border-radius: 16px;
  color: #e5e5e5;
}

/* ========================= */
/* LEFT SIDEBAR              */
/* ========================= */

.sidebar {
  width: 260px;
  
  padding: 24px 0;
  border-right: 1px solid #2d2d2d;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 6px 14px;
  margin: 0 6px;
  color: #bcbcbc;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar-item:hover {
  background: #1f1f1f;
  color: white;
}

.sidebar-item.active {
  background: #2b2b2b;
  color: white;
}

.sidebar-icon {
  font-size: 17px;
  opacity: 0.9;
}

/* Yellow left strip for active tab */
.active-strip {
  position: absolute;
  left: -6px;
  top: 4px;
  height: 80%;
  width: 3px;
  background: #ffd300;
  border-radius: 0 12px 12px 0;
}

/* ========================= */
/* RIGHT PANEL               */
/* ========================= */

.right-panel {
  flex: 1;
  background: black;
  padding: 0;
  border-top-right-radius: 26px;
  overflow-y: auto;
}

/* TEMP PLACEHOLDER CONTENT */
.placeholder-content {
  background: black;
  padding: 40px;
  color: #9e9e9e;
  font-size: 18px;
}
