.slider-card {
  background: #0f0f0f;
  border: 1px solid #2a2a2a;
  border-radius: 20px;
  padding: 14px 22px;
  color: white;
  font-family: "Inter", sans-serif;
  width: inherit;
}

.slider-title {
  font-size: 18px;
  opacity: 0.85;
  margin-bottom: 18px;
}
/* Track container */
.slider-track {
  width: 100%;
  height: 10px;
  position: relative;
}

/* Gray base */
.slider-track-base {
  position: absolute;
  inset: 0;
  background: #2B2B2B;
  border-radius: 6px;
}

.slider-track-downgrade {
  position: absolute;
  top: 1.5px;
  height: 7px;
  background: #531D1D;
  border-radius: 0 6px 6px 0;
}



/* Yellow default */
.slider-track-default {
  position: absolute;
  left: 0;
  top: 1.5px;
  height: 7px;
  background: var(--brand-color);
  border-radius: 6px;
}

/* Green upgrade */
.slider-track-upgrade {
  position: absolute;
  top: 1.5px;
  height: 7px;
  background: #1B4220;
  border-radius: 0 6px 6px 0;
}


/* Thumb */
.slider-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  top: 0px;
  position: relative;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.slider-labels {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  opacity: 0.85;
}


.plan-wrapper {
  padding-top: 24px;
  color: #fff;
}

/* Card */
.plan-card {
  max-width: 100%;
  border-radius: 16px;
  background: radial-gradient(
      circle at top,
      rgba(255, 255, 255, 0.06),
      transparent 45%
    ),
    rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 5px 16px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.02);
}

/* Rows */
.plan-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
  padding: 10px 0;
}

.plan-row.header {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
}

.plan-row.total {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

/* Text */
.strong {
  font-weight: 600;
  color: #fff;
}

.highlight {
  color:var(--brand-color);
  font-weight: 700;
}

/* Divider */
.divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin: 10px 0;
}

/* Action */
.plan-action {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.change-btn {
  background: var(--brand-color);
  color: #000;
  border: none;
  padding: 12px 22px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.change-btn:hover {
  filter: brightness(0.95);
}
