.avatar-wrapper {
  position: relative;
    width: 125px;
    height: 125px;
    border-radius: 20px;
    overflow: hidden;
    background: #1e1e1e;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Image */
.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Bottom overlay bar */
.edit-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 38px; /* adjust if needed */

  border: none;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon sizing */
.edit-btn svg {
  font-size: 20px;
  opacity: 0.9;
}
