.main-box {
  position: relative;
  height: 220px;
  width: 300px;
  overflow: hidden;
  cursor: pointer;
  /* just to visualize parent */
}

/* First child: full red box */
.full-box {
  width: 100%;
  height: 100%;
}

/* Second child: 1/4th size positioned top-right */
.small-box {
  width: 75%;
  height: 75%;
  border-radius: 10%;
  background: #131313; 
  position: absolute;
  top: 25px;
  right: 0;
  z-index: -1;
}

.main-box:hover .small-box {
  background: #F9EF38;
  transition: .7s;
}

.text-box {
  position: absolute;
  bottom: 25px;
  left: 20px;
  color: white;
}

.text-box-title {
  padding: 8px 0;
  font-family: 'Gilroy-SemiBold';
}

.text-box-content {
  display: flex;
  align-items: center;
}
