.brand-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brand-label {
  color: #cfcfcf;
  font-size: 14px;
}

/* container */
.brand-input {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  background:#131313; 
  /* background: #0b0b0d; */
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 16px;
  padding: 8px;
  width: 140px;
}

/* color preview */
.color-box {
  width: 32px;
  height: 32px;
  border-radius: 7px;
  cursor: pointer;
}

.color-input {
  /* background:#131313;  */
  /* border: 1px solid rgba(255,255,255,0.08); */
  outline: none;
  color: #e5e5e5;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: 'Gilroy-Regular';
  padding: 6px 10px;
  border-radius: 8px;
  width: 90px;         
}

/* popover ABOVE */
.picker-popover {
  position: absolute;
  bottom: 110%; /* 👈 key change */
  left: 0;
  z-index: 50;

  background: #050507;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.6);
  padding: 10px;

  animation: fadeUp 0.15s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}